<div class="table-pagination-container">
    <div class="table-container">
        <table class="table table-striped table-bordered table-resizable">
            <thead>
                <tr>
                    <th><input type="checkbox" (change)="selectAllRows()"></th>
                    <th *ngFor="let header of headers">{{header.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of content" id="{{row['id']}}">
                    <td><input type="checkbox" value="{{row['id']}}" (change)="selectRow()"></td>
                    <td *ngFor="let header of headers">{{row[header.field]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page-container">
        <button (click)="changePageByButton($event)" title="First Page">&lsaquo;&lsaquo;</button>
        <button (click)="changePageByButton($event)" title="Previous Page">&lsaquo;</button>
        <input type="number" [(ngModel)]="pageNo" (change)="changePage()" min="1">
        <span> / {{noOfPages}} &nbsp;</span>
        <button (click)="changePageByButton($event)" title="Next Page">&rsaquo;</button>
        <button (click)="changePageByButton($event)" title="Last Page">&rsaquo;&rsaquo;</button>
        <select (change)="changePage()" [(ngModel)]="numPerPage">
            <option *ngFor="let number of pageOptions" value={{number}}>{{number}}</option>
        </select>
        <span style="float: right;">{{showMessage}}</span>
    </div>
</div>
<router-outlet></router-outlet>
