.table-pagination-container {
	.table-container {
		height: 560px;
		width: 100%;
		overflow: auto;
		.table-resizable {
			border-collapse: collapse;
			width: 100%;
			.checkbox {
				position: relative;
				padding: 10px 15px;
				width: 2%;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;	
				input {
					position: absolute;
					opacity: 0;
					top: 5px;
					left: 0px;
					cursor: pointer;
					height: 25px;
					width: 25px;
					z-index: 15;
				}
				.checkmark {
					position: absolute;
					top: 13px;
					left: 8px;
					height: 15px;
					width: 15px;
					background: transparent;
				}
				.checkmark::after {
					content: '';
					position: absolute;
					display: block;
					left: 4px;
					top: 0px;
					width: 4px;
					height: 8px;
					border: solid #aaa;
					border-width: 0 3px 3px 0;
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				&:hover .checkmark::after {
					border: solid #777;
					border-width: 0 3px 3px 0;
				}
				input:checked ~ .checkmark::after {
					border: solid #00F;
					border-width: 0 3px 3px 0;
				}		  
			}
			th, td {
				border: 1px solid #ddd;
				padding: 8px;
			}
			th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				background-color: #4CAF50;
				color: white;
				position: relative;
				user-select: none;
				&::before {
					cursor: col-resize;
					user-select: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					content: '';
					display: block;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					width: 10px;
				}
				&:first-of-type::before {
					display: none;
				}
				&:last-of-type::before {
					display: none;
				}
			}
			td {
				max-width: 0px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.resizing {
			cursor: col-resize;
		}
	}
	.page-container {
		display: block;
		padding: 10px;
		font-size: 18px;
		button {
			font-size: 18px;
			margin: 0px 5px;
			width: 30px;
			height: 30px;
		}
		input {
			font-size: 14px;
			width: 40px;
			height: 25px;
			margin: 0px 5px;
			text-align: right;
		}
		select {
			width: 50px;
			height: 30px;
			margin: 0px 5px;
			text-align: right;
		}
	}
}